@media (min-width: 576px) {

    .photo:nth-child(2) {
        grid-column: span 1;
        grid-row: span 2;
    }
    
    .photo:nth-child(4) {
        grid-column: span 1;
        grid-row: span 2;
    }
}

