/* spacing */
$spacing: 1.5rem;


/* font*/
$fontSize: 1rem;

$mainfont: 'Heebo', sans-serif;
$secfont: 'Lobster', cursive;


/* colors */
$colorblack: #000;
$colorwhite: #fff;
$colorgrey: #6E7888;

$colorsec: #A56076;
$colorsechover: #FFE3F2;

$colorbtn: #99663A;

$coloractive: #995550;

$colorhover: #FFEACE;

$colormodal: #CF9EAC;
