/* spacing */
$spacing: 1.5rem;

/* font*/
$fontSize: 1rem;

$mainfont: "Heebo", sans-serif;
$secfont: "Lobster", cursive;

/* colors */
$colorblack: #000;
$colorwhite: #fff;
$colorgrey: #6e7888;

$colorsec: #a56076;
$colorsechover: #ffe3f2;

$colorbtn: #99663a;

$coloractive: #995550;

$colorhover: #ffeace;
